@model NotaSatisSistemi.Models.Tbl_Notalar
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section secBaslik{
    <h3 class="head-h3">Nota Ekle</h3>
}
<div style="color:#000 !important;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Eser", htmlAttributes: new { @class = "control-label cfl" })
                <div>
                    @Html.EditorFor(model => model.NotaAd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NotaAd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Eser Sahibi", htmlAttributes: new { @class = "control-label cfl" })
                <div>
                    @Html.EditorFor(model => model.EserSahibi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EserSahibi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Notalayan", htmlAttributes: new { @class = "control-label cfl" })
                <div>
                    @Html.EditorFor(model => model.Notalayan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Notalayan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Detay", htmlAttributes: new { @class = "control-label cfl" })
                <div>
                    @Html.EditorFor(model => model.NotaDetay, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NotaDetay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Enstrüman", htmlAttributes: new { @class = "control-label cfl" })
                <div>
                    @Html.EditorFor(model => model.Enstruman, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Enstruman, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Kredi", htmlAttributes: new { @class = "control-label cfl" })
                <div>
                    @Html.EditorFor(model => model.Kredi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Enstruman, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Ekle" class="aBtn" />
                    @Html.ActionLink("<- Nota Listesi", "Index", null, new { @class = "aBtn" })
                </div>
            </div>
        </div>
    }
    <div>

    </div>
</div>