
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section secBaslik{
    <h3 class="head-h3">Şifremi Unuttum</h3>
}
@{
    if (HttpContext.Current.User.Identity.Name == "")
    {
        @section secStyle{
            <link href="~/Content/Css/stylesign.css" rel="stylesheet" />
            <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        }
        <div class="w3l-login-form">
            <h2>Şifremi Unuttum</h2>
            @using (Html.BeginForm("ResetPassword", "Guvenlik", FormMethod.Post))
            {

                <div class=" w3l-form-group">
                    <label>Kullanıcı Adı:</label>
                    <div class="group">
                        <i class="fas fa-user"></i>
                        <input type="text" class="form-control" name="KullaniciAdi" placeholder="Kullanıcı Adı" required="required" />
                    </div>
                </div>
                <div class=" w3l-form-group">
                    <label>Telefon:</label>
                    <div class="group">
                        <i class="fas fa-unlock"></i>
                        <input type="tel" class="form-control" name="Telefon" placeholder="Telefon Numarası" required="required" />
                    </div>
                </div>
                if (ViewBag.Hata != null)
                {
                    <div class="text-danger">
                        <h4>@ViewBag.Hata</h4>
                    </div>

                }
                if (ViewBag.Sifre != null)
                {
                    <div class="text-light">
                        <h3><span class="text-danger">Şifreniz:</span>  @ViewBag.Sifre</h3>
                    </div>
                }
                <button type="submit">Şifremi Unuttum</button>
            }
            <p class="text-center w3l-register-p regp">Hesabın var mı? @Html.ActionLink("Giriş Yap", "Login", null, new { @class = "register" })</p>
            <p class="text-center w3l-register-p regp2">Hesabın yok mu? @Html.ActionLink("Kayıt Ol", "SignUp", null, new { @class = "register" })</p>
        </div>
    }
    else if (ViewBag.Hata != null)
    {
        <div class="text-danger">
            <h3>@ViewBag.Hata</h3>
        </div>
    }
    else
    {
        <h3 class="text-info">Giriş yapılmış! Farklı bir hesabın şifresini sıfırlamak için ilk olarak çıkış yapmalısınız.</h3>
    }
}